apiVersion: v1
kind: Service
metadata:
  name: {{ include "chatcli.fullname" . }}
  labels:
    {{- include "chatcli.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.headless }}
  clusterIP: None
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: grpc
      protocol: TCP
      name: grpc
    {{- if .Values.server.metricsPort }}
    - port: {{ .Values.server.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "chatcli.selectorLabels" . | nindent 4 }}
